/* 
RESET 
*/
button, input {
    background-color: transparent;
	color: inherit;
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}   

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



/* 
REUSABLES
*/
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.center-y {
    align-items: center;
}

.center-x {
    justify-content: center;
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}



/* 
Variables
*/

:root {
    --white: #f1f5f9;
    --black: #020617;
    --dark-gray: #94a3b8;
    --light-gray: #e6e6e6;
    --blue: #2563eb;
    --red: #ff9c9c;
    --green: #9fff9c;

    --shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --card-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}



/* 
Main Styles
*/

body {
    background-color: var(--white);
    font-family: system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    padding: 1.5rem 1rem;
    box-shadow: var(--shadow);
    
    .logo {
        font-size: 2.5rem;
    }

    .add-btn {
        gap: .5rem;
        font-size: 1.25rem;
        font-weight: 700;
        padding: .625rem 1.125rem;
        border-radius: 5px;
        background-color: var(--light-gray);
        cursor: pointer;
        transition: filter .2s ease-in-out;

        .plus-icon {
            font-size: 20px;
            color: var(--black); 
        }
    }

    .add-btn:hover {
        filter: brightness(90%);
    }
}

main {
    text-align: center;
    margin: 4rem auto !important;
    padding: 0 1rem;
    gap: 2rem;

    .books-grid {
        justify-items: center;
        gap: 2.5rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        .card {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            box-shadow: var(--card-shadow);
            border-radius: 10px;
            padding: 1.25rem;
            font-size: 1.25rem;
            width: 100%;

            .card-buttons {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1.5rem;

                .card-btn {
                    background-color: var(--light-gray);
                    width: 100%;
                    font-weight: 600;
                    text-align: center;
                    border-radius: 5px;
                    padding: .625rem 4rem;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                }

                .card-btn:hover {
                    filter: brightness(90%);
                }

                .green-btn {
                    background-color: var(--green);
                }
                
                .red-btn {
                    background-color: var(--red);
                }
            }
        }

        p:first-of-type {
            font-weight: 700;
            font-size: 1.5rem;
        }
    }

    .add-modal {
        display: none;
        padding: 1rem;
        text-align: center;
        background-color: var(--white);
        z-index: 10;
        position: fixed;
        border-radius: 10px;
        top: 50%;
        left: 50%;
        width: 300px;
        transform: translate(-50%, -50%) scale(0);
        transition: 0.2 ease-in-out;

        .close-btn {
            font-size: 1.5rem;
            cursor: pointer;
            justify-content: flex-end;
            margin-bottom: 1rem;
        }

        form {
            gap: 1.25rem;

            .modal-title {
                font-size: 2rem;
            }

            .input {
                border-radius: 5px;
                padding: .625rem .5rem;
                font-size: 1.125rem;
                background-color: var(--light-gray);
            }

            .is-read {
                gap: 1rem;
                font-size: 1.125rem;

                .checkbox {
                    width: 20px;
                    height: 20px;
                    margin-top: 4px;
                }
            }

            .add-lib-btn {
                border-radius: 5px;
                text-align: center;
                font-weight: 700;
                font-size: 1.125rem;
                padding: .75rem 1rem;
                color: var(--white);
                background-color: var(--blue);
                cursor: pointer;
                transition: filter .2s ease-in-out;
            }

            .add-lib-btn:hover {
                filter: brightness(90%);
            }
        }
    }

    .add-modal.active {
        display: block;
        transform: translate(-50%, -50%) scale(1);
    }

    .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: none;
    }

    .overlay.active {
        display: block;
    }
}